label {
    margin-top: 15px;
    font-weight: 500;
}

.title {
    margin-top: 10px;
}

.help-block {
    color: red;
}

.no_active {
    pointer-events: none;
    background-color: #e9ecef !important;
    opacity: 1;
}

#save-dynamic-form{
    position: fixed;
    right: 10px; /* Adjust as needed */
    bottom: 10px; /* Adjust as needed */
    padding: 10px 25px;
    border: 2px solid darkblue;
    border-radius: 5px;
}